body {
  background: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.drumPad {
  width: 600px;
  height: 650px;
  background-color: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &__wrapper {
    height: 90%;
    width: 90%;
    padding: 25px;
    background-color: #f4f4f4;
    border-radius: 5px;

    &-header {
      height: 30%;
      margin-bottom: 5%;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 15px;

      .channelBtnWrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 15px;
        .playChannel {
          padding: 15px;
          background-color: #f4f4f4;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border: 0;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .recBtnWrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .recBtn {
          padding: 10px;
          background-color: rgb(176, 0, 0);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border: 0;
          border-radius: 40px;
          cursor: pointer;
        }
      }

      button:hover {
        box-shadow: none;
        transition: linear 0.3s;
      }
    }

    &-grid-template {
      background-color: #dee0e6;
      height: 65%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding: 20px;
      gap: 15px;
      border-radius: 5px;
    }

    &-button {
      color: #dee0e6;
      background-color: #f4f4f4;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
    }

    &-button:hover {
      box-shadow: none;
      transition: linear 0.3s;
    }
  }
}
