*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #161B22;
    color: #F0F6FC;
}

.userInput-section {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.userInput-section button {
    margin-left: 10px;
    cursor: pointer;
}

.loading-container {
    display: none;
    justify-content: center;
}

.inputData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.inputData input {
    margin: 10px;
}

.inputData input[type="checkbox"] {
    margin-left: 0;
}

.newData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.data-container {
    display: flex;
    align-items: center;
    margin: 15px;
}

.data-container span {
    margin-right: 10px;
}


input {
    border-radius: 3px;
    border: 1px solid #F0F6FC;
    padding-left: 5px;
}

button {
    border-radius: 3px;
    border: 3px solid #F0F6FC;
    padding: 3px;
}